gensim==4.3.2
google_play_scraper==1.2.7
keras==3.4.0
matplotlib==3.9.1
nltk==3.8.1
numpy==2.0.0
pandas==2.2.2
Requests==2.32.3
Sastrawi==1.0.1
scikit_learn==1.5.1
seaborn==0.13.2
tensorflow==2.16.1
tensorflow_intel==2.16.1
wordcloud==1.9.3
